@using AnBinhMarket.Data.Entities
@model HoaDon
@{
    ViewBag.Title = "DetailReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/css/custom/invoice.css" rel="stylesheet" />
}

<section class="single-banner inner-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home", new {Area = ""})">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Chi tiết đơn hàng</a></li>
            </ol>
        </nav>
    </div>
</section>
<section class="inner-section invoice-part">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.GioHang.TaiKhoan.HoTen, htmlAttributes: new { @class = "bmd-label-floating" })
                    @Html.EditorFor(model => model.GioHang.TaiKhoan.HoTen, new { htmlAttributes = new { @class = "form-control", @readonly = "@readonly" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayTao, htmlAttributes: new { @class = "bmd-label-floating" })
                    @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control", @readonly = "@readonly" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "bmd-label-floating" })
                    @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control", @readonly = "@readonly" } })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PhiShip, htmlAttributes: new { @class = "bmd-label-floating" })
                    @{
                        decimal phiShipNum = Model.PhiShip;
                        string phiShipStr = string.Format("{0:0,000}", phiShipNum) + " VND";
                    }
                    <input class="form-control" type="text" disabled="disabled" value="@phiShipStr" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ChuY, htmlAttributes: new { @class = "bmd-label-floating" })
                    @Html.EditorFor(model => model.ChuY, new { htmlAttributes = new { @class = "form-control", @readonly = "@readonly" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "bmd-label-floating" })
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @readonly = "@readonly" } })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Sản phẩm</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <th>STT</th>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá (VNĐ)</th>
                                <th>Số lượng</th>
                                <th>Thành tiền (VNĐ)</th>
                                <tbody>
                                    @foreach (var item in Model.GioHang.ChiTietGioHangs)
                                    {
                                        <tr>
                                            <td>@{
                                                    var stt = Model.GioHang.ChiTietGioHangs.ToList().IndexOf(item) + 1;
                                                }
                                                @stt</td>
                                            <td>
                                                @{
                                                    string imagePath = "~/products/" + item.SanPham.HinhAnh;
                                                }
                                                <img src="@Url.Content(imagePath)" width="70" class="img-thumbnail" />
                                                <br />
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.SanPham.TenSP)</td>
                                           
                                            <td>@item.Gia.ToString("N0") </td>
                                            <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                            <td> @{
                                                    var _tt = item.Gia * item.SoLuong;
                                                    
                                                }
                                                @_tt.ToString("N0")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @{
                            decimal thanhTien = Model.GioHang.ChiTietGioHangs.Select(c => c.SoLuong * c.Gia).Sum() + Model.PhiShip;
                            string tong = thanhTien.ToString("N0");
                        }
                        <hr />
                        <div class="row">

                            <div class="col-md-12" style="font-weight:bold;">
                                Tổng tiền (đã bao gồm phí vận chuyển): @tong VNĐ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
         <div class="col-lg-12 text-center mt-5">
              <a class="btn btn-inline" href="#"><i class="icofont-download"></i><span>Tải hoá đơn</span></a>
              <div class="back-home">
                   <a href="@Url.Action("Index","Home")">Trở về trang chủ</a>
              </div>
         </div>
    </div>*@
</section>



