@using AnBinhMarket.Data.Entities


@model HoaDon

@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Xem chi tiết đơn hàng</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="card">
                <div class="card-body">
                    <!-- Form -->
                    <form method="post">

                        <div class="form-group">
                            <label><strong>Tên khách hàng:</strong> </label>
                            @Html.DisplayFor(model => model.GioHang.TaiKhoan.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label><strong>Ngày đặt:</strong> </label>
                            @Html.DisplayFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label><strong>Trạng thái:</strong> </label>
                            @Html.DisplayFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label><strong>Phí ship:</strong> </label>
                            @{
                                decimal giaNum = Model.PhiShip;
                                string giaStr = string.Format("{0:0,000}", giaNum) + " VND";
                            }
                            @Html.DisplayFor(model => model.PhiShip, new { htmlAttributes = new { @class = "form-control" }, value = "@giaStr" })
                        </div>
                        <div class="form-group">
                            <label><strong>Ghi chú:</strong> </label>
                            @Html.DisplayFor(model => model.ChuY, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label><strong>Địa chỉ nhận hàng:</strong> </label>
                            @Html.DisplayFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </form>
                    <!-- /Form -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Sản phẩm</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model.GioHang.ChiTietGioHangs)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                string imagePath = "~/products/" + item.SanPham.HinhAnh;
                                            }
                                            <img src="@Url.Content(imagePath)" width="50" class="img-thumbnail" />
                                            <br />
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.SanPham.TenSP)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Gia) VND</td>
                                        <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @{
                        decimal thanhTien = Model.GioHang.ChiTietGioHangs.Select(c => c.SoLuong * c.Gia).Sum() + Model.PhiShip;
                        string tong = string.Format("{0:0,000}", thanhTien);
                    }
                    <hr />
                    <div class="row">
                        <div class="col-md-9">
                           
                            <a href="@Url.Action("DonHang","Manage")" class="btn btn-link">Quay lại</a>

                        </div>
                        <div class="col-md-3" style="font-weight:bold;">
                            Thành tiền: @tong VND
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

