
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-12">

               @* @if (Session["TenTaiKhoan"] != null)
                {
                    <h3 class="page-title">
                        Xin chào, @Session["TenTaiKhoan"]
                    </h3>
                }*@


            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-primary-light">
                            <i class="far fa-user"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>@ViewBag.soLuongTk</h3>
                            <h6 class="text-muted"><a href="@Url.Action("AccountAdmin","Manage")">Số lượng người dùng</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon" style="background-color:aqua">
                            <i class="fab fa-product-hunt"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h6 class="text-muted"><a href="@Url.Action("SPBanChayNhat","Manage")">Top 5 sản phẩm bán chạy nhất</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-info">
                            <i class="fas fa-box-open"></i>
                        </span>
                        <div class="dash-widget-info">
                            @*<h3>@ViewBag.soLuongSp</h3>*@
                            <h6 class="text-muted"><a href="@Url.Action("Product","Manage")">Thống kê sản phẩm theo danh mục</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-info-light">
                            <i class="fas fa-trademark"></i>
                        </span>
                        <div class="dash-widget-info">
                            @*<h3>@ViewBag.soLuongDm</h3>*@
                            <h6 class="text-muted"><a href="@Url.Action("TradeMarks","Manage")">Thống kê sản phẩm theo thương hiệu </a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon" style="background-color:antiquewhite">
                            <i class="fas fa-newspaper"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>@ViewBag.soLuongTT</h3>
                            <h6 class="text-muted"><a href="@Url.Action("News","Manage")">Số tin tức</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon" style="background-color: palevioletred">
                            <i class="far fa-comments"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>@ViewBag.soLuongPH</h3>
                            <h6 class="text-muted"><a href="@Url.Action("Feedback","Manage")">Phản hồi</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-warning">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3> @ViewBag.soHD</h3>
                            <h6 class="text-muted"><a href="@Url.Action("DonHang","Manage")">Số lượng đơn hàng</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-danger">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>@ViewBag.tongTienThangNay</h3>
                            <h6 class="text-muted"><a href="@Url.Action("ThongKeTheoThang","Manage")">Doanh thu trong tháng</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-primary">
                            <i class="fas fa-comment-dollar"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3> @ViewBag.tongTienTrongNam</h3>
                            <h6 class="text-muted"><a href="@Url.Action("ThongKeTrongNam","Manage")">Doanh thu trong năm</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
