@using AnBinhMarket.Data.Entities
@model IEnumerable<SanPham>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
<!-- Datepicker CSS -->
<link rel="stylesheet" href="/Asset/css/bootstrap-datetimepicker.min.css" />

<!-- Datatables CSS -->
<link rel="stylesheet"
      href="/Asset/plugins/datatables/datatables.min.css" />
}


<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Quản lý sản phẩm</h3>
            </div>
            <div class="col-auto text-right">
                <a class="btn btn-white ml-3"
                   href="javascript:void(0);"
                   id="filter_search">
                    <i class="fas fa-filter"></i> Tìm kiếm
                </a>
                <a href="@Url.Action("Create","ManageProduct")"
                   class="btn btn-primary ml-3">
                    <i class="fas fa-plus"></i> Thêm sản phẩm
                </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Start alert -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div style="display: none" id="deletee" class="alert alert-danger text-center" role="alert"></div>
        </div>
        <div class="col-4"></div>

    </div>
    <!-- End alert -->
    <!-- Search Filter -->
    <div class="card filter-card" id="filter_inputs">
        <div class="card-body pb-0">
            <form action="#" method="post">
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input class="form-control" type="text" name="SearchString" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Lọc
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->
    <button onclick="exportData()">
        <span class="glyphicon glyphicon-download"></span>
        Download list
    </button>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable" id="tblStocks">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Danh mục</th>
                                    <th>Giá</th>
                                    <th>Giá KM</th>
                                    <th>Số lượng</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>

                                            @{
                                                var ImagePath = "~/product/" + item.HinhAnh;
                                            }
                                            <img class="rounded service-img mr-1"
                                             src="@Url.Content(@ImagePath)"
                                             alt="" />
                                            @Html.DisplayFor(modelItem => item.TenSP)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Gia) vnđ</td>
                                        <td>@Html.DisplayFor(modelItem => item.GiaKM) vnđ</td>

                                        <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                        <td class="text-right">
                                            <a href="@Url.Action("Details","ManageProduct",new {id = item.Id})"
                                           class="btn btn-sm bg-primary-light mr-2">
                                                <i class="far fa-eye mr-1"></i>Chi tiết
                                            </a>
                                            <a href="@Url.Action("Edit","ManageProduct",new {id = item.Id})"
                                           class="btn btn-sm bg-primary-light mr-2">
                                                <i class="far fa-edit mr-1"></i>Sửa
                                            </a>
                                            <a href="@Url.Action("Delete","ManageProduct",new {id = item.Id})"
                                           class="btn btn-sm   bg-danger-light">
                                                <i class="far fa-trash-alt mr-1"></i> Xoá
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function exportData(){
        /* Get the HTML data using Element by Id */
        var table = document.getElementById("tblStocks");
        console.log(table.rows)
        /* Declaring array variable */
        var rows =[];

          //iterate through rows of table
        for(var i=0,row; row = table.rows[i];i++){
            //rows would be accessed using the "row" variable assigned in the for loop
            //Get each cell value/column from the row
            column1 = row.cells[0].innerText;
            column2 = row.cells[1].innerText;
            column3 = row.cells[2].innerText;
            column4 = row.cells[3].innerText;
            column5 = row.cells[4].innerText;

        /* add a new records in the array */
            rows.push(
                [
                    column1,
                    column2,
                    column3,
                    column4,
                    column5
                ]
            );

            }
             console.log(rows)

            csvContent = "";
             /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
            for(let i = 0; i < rows.length; i++){
                row = rows[i].join(",");
                csvContent += row + "\r\n";
                console.log(rows)
            }
            var _ = "data:text/csv;charset=utf-8,";
            downloadBlob(csvContent, "testvile.csv", _)
            /* create a hidden <a> DOM node and set its download attribute */
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "Stock_Price_Report.csv");
            document.body.appendChild(link);
             /* download the data file named "Stock_Price_Report.csv" */
            link.click();
    }

</script> 

<script>
    function downloadBlob(content, filename, contentType) {
      // Create a blob
      var data = new TextEncoder('utf-16be').encode(content);

      var blob = new Blob(['\uFEFF',data], { type: contentType });
      var url = URL.createObjectURL(blob);

      // Create a link to download it
      var pom = document.createElement('a');
      pom.href = url;
      pom.setAttribute('download', filename);
      pom.click();
    }
</script>

