@model X.PagedList.IPagedList<SanPham>
@using AnBinhMarket.Data.Entities
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewBag.Title = "Danh muc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_BreadcrumbLevelOne", new { id = Guid.Parse(ViewContext.RouteData.Values["id"].ToString()) });
<section class="inner-section shop-part">
    <div class="container">
        <div class="row content-reverse">

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="top-filter col-lg-9">
                                <div class="filter-short">
                                    <label class="filter-label">Sắp xếp theo :</label>
                                    <select id="filter" onchange="onSort()" class="form-select filter-select">
                                        <option id="hdk-default" value="default" selected>Mặc định</option>
                                        <option id="hdk-asc" value="asc">Giá từ thấp tới cao</option>
                                        <option id="hdk-desc" value="desc">Giá từ cao tới thấp</option>
                                        <option id="hdk-az" value="az">Từ A đến Z</option>
                                        <option id="hdk-za" value="za">Từ Z đến A</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button type="button" onclick="clearFilter()" class="shop-widget-btn"><i class="far fa-trash-alt"></i>Xoá bộ lọc</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="product-card">
                                <div class="product-media">
                                    <img src="@Url.Content("~/products/" + item.HinhAnh)"
                                     alt="product" width="100%" height="150px" class="img-responsive center-block" />
                                </div>
                                <div class="product-content">
                                    <h6 class="product-name">
                                        <a href="@Url.Action("Detail","Product",  new { id = item.Id })">@item.TenSP</a>
                                    </h6>
                                    @if (item.GiaKM > 0 && item.GiaKM < item.Gia)
                                    {
                                        <h6 class="product-price row d-flex justify-content-between ">
                                            <span class="hdk-price"> <s>@string.Format("{0:#,##}", item.Gia) vnđ </s></span>
                                            <span class="hdk-price-1" style="color: red; font-weight: bold">@string.Format("{0:#,##}", item.GiaKM) vnđ</span>
                                        </h6>
                                    }
                                    else
                                    {
                                        <h6 class="product-price ">
                                            <span class="hdk-price">@string.Format("{0:#,##}", item.Gia) vnđ</span>
                                        </h6>
                                    }
                                    <a class="product-add" href="/Checkout/Additem?productId=@item.Id&quantity=1" title="Thêm vào giỏ">
                                        <i class="fas fa-shopping-basket"></i><span>Thêm vào giỏ hàng</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <input value="@ViewBag.order" id="viewbag" hidden="hidden" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bottom-paginate">
                            @Html.PagedListPager(Model, page => Url.Action("Detail", new
                            {
                            page = page,
                            fromPrice = ViewBag.from,
                            toPrice = ViewBag.to,
                            order = ViewBag.order
                            }), new PagedListRenderOptions()
                            {
                            LiElementClasses = new string[] { "page-item", "page-link" }
                            })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="shop-widget-promo">

                    <a href="#"><img src="~/images/filter.jpg" alt="promo" /></a>
                </div>
                <div class="shop-widget">
                    <h6 class="shop-widget-title">Lọc theo giá</h6>
                    <form>
                        <div class="shop-widget-group">
                            <input value="@ViewBag.from" type="number" placeholder="Bắt đầu" id="fromPrice" /><input value="@ViewBag.to" id="toPrice" type="number" placeholder="Kết thúc" />
                        </div>
                        <button type="button" onclick="filterProduct()" class="shop-widget-btn">
                            <i class="fas fa-search"></i><span>Tìm</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/filterrr.js"></script>
@*<script src="~/Scripts/filter.js"></script>*@

