@model AnBinhMarket.Areas.Admin.Models.TaiKhoan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Thêm tài khoản</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="card">
                <div class="card-body">
                    <form method="post" action="@Url.Action("Create","ManageAdmin")">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label><strong>Tên đăng nhập</strong> </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TenTaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenTaiKhoan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><strong>Mật khẩu</strong> </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><strong>Số điện thoại</strong> </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><strong>Email</strong></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><strong>Họ tên</strong> </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable><strong>Địa chỉ</strong> </lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @{
                            var selectList = new SelectList(
                                new List<SelectListItem>
                                {
                                        new SelectListItem {Text = "Quản trị viên", Value = "1"},
                                        new SelectListItem {Text = "Nhân viên", Value = "2"},
                                }, "Value", "Text");
                        }
                        <div class="form-group">
                            <label><strong>Quyền</strong></label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Quyen, selectList, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QuyenGuid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label><strong>Trạng thái</strong></label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.TrangThai)
                                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-primary" type="submit">
                                Thêm
                            </button>
                            <a href="@Url.Action("Index","ManageAdmin")" class="btn btn-link">Huỷ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}

<script src="~/bundle/jqueryval"></script>