@using AnBinhMarket.Data.Entities
@model ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Bạn có chắc chắn muốn xóa tài khoản này không?</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="card">
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Tên tài khoản
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt>
                            Mật khẩu
                        </dt>

                        <dd>
                            *******
                        </dd>

                        <dt>
                           Quyền
                        </dt>

                        <dd>
                            Quản trị
                        </dd>

                        <dt>
                            Trạng thái
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>
                        <dt>
                            Họ tên
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HoTen)
                        </dd>

                        <dt>
                           Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                           Điện thoại
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                           Địa chỉ
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiaChi)
                        </dd>

                        <dt>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-primary" type="submit">
                                    Xóa
                                </button>
                                <a href="@Url.Action("Index","ManageAdminAccount")" class="btn btn-link">Huỷ</a>
                            }
                        </dt>
                    </dl>

                </div>
            </div>
        </div>
    </div>
</div>
